body {
  background: #f7ffe5;
}

.App {
  text-align: center;
  color: #17594a;
}

nav {
  background: #e1ecc8;
}

.form-floating > input,
.form-floating > textarea {
  background: #f7ffe5;
}

.logout {
  color: #a13d3d;
  border-color: #a13d3d;
  margin: 0 0 0 30px;
}

.logout:hover {
  color: #f7ffe5;
  border-color: #f7ffe5;
  background-color: #a13d3d;
}

.card-body {
  color: #17594a;
}

.card-img-top,
.card-img {
  height: 230px;
  max-height: 230px;
}
